appdirs==1.4.3
astroid==2.3.3
backcall
backports.functools-lru-cache
Bottleneck==1.3.2
certifi==2021.5.30
click
colorama==0.4.3
cycler==0.10.0
debugpy
decorator
distlib==0.3.0
entrypoints
filelock==3.0.12
Flask
fonttools==4.25.0
gast==0.3.3
grpcio==1.32.0
gunicorn==20.1.0
h5py==2.10.0
importlib-metadata
ipykernel
ipython
ipython-genutils==0.2.0
isort==4.3.21
itsdangerous
jedi 
Jinja2
jupyter-client
jupyter-core
keras-nightly==2.5.0.dev2021032900
kiwisolver 
lazy-object-proxy==1.4.3
MarkupSafe 
matplotlib
matplotlib-inline
mccabe==0.6.1
mkl-fft==1.3.0
mkl-random 
mkl-service==2.4.0
munkres==1.1.4
nest-asyncio
numexpr
numpy
olefile
pandas
parso
pickleshare
Pillow
prompt-toolkit
Pygments
pylint==2.4.4
pyparsing
python-dateutil
pytz==2021.3
pywin32==301
pyzmq
scipy==1.4.1
sip==4.19.13
six
tensorflow-estimator==2.3.0
torch==1.9.1
torchaudio==0.9.1
torchvision==0.10.1
tornado
traitlets
typing-extensions==3.7.4.3
virtualenv==20.0.10
wcwidth
Werkzeug
wincertstore==0.2
wrapt==1.12.1
zipp